@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cinzel", serif;
  font-size: large;
}
nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2000;
  background-color: white;
  -webkit-box-shadow: 1px 4px 5px 0px rgba(214, 204, 237, 1);
  -moz-box-shadow: 1px 4px 5px 0px rgba(214, 204, 237, 1);
  box-shadow: 1px 4px 5px 0px rgba(214, 204, 237, 1);
}

.logo img {
  width: 80px;
  margin: auto 120px;
}
.bar-icon {
  margin-top: 29px;
  margin: auto 120px;
}
.bar-icon:hover {
  cursor: pointer;
}
/* Hero-Section */
.hero {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  /* background-color: rgb(242, 248, 248); */
}
.hero .top-image img {
  width: 450px;
  image-rendering: auto;
  margin-top: 10px;
}
.hero .top-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto 50px;
}
.hero .top-text span {
  background-color: green;
  color: white;
  padding: 5px;
  align-self: flex-start;
}
.hero .top-text button {
  background-color: rgb(0, 119, 128);
  color: white;
  padding: 9px;
  align-self: flex-start;
  font-family: "Cinzel", serif;
  border: none;
  transition: 0.5s ease-out;
}
.hero .top-text button:hover {
  cursor: pointer;
  background-color: rgba(167, 224, 52, 0.795);
  color: black;
  box-shadow: 1px 1px rgb(20, 148, 20);
  transform: translateY(-10px);
}

.Card-section {
  display: flex;
  background-color: rgb(123, 184, 202);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 20px 0;
  padding: 30px;
}
.Card-section .small-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 40px;
  gap: 10px;
  transition: 0.3s ease-in-out;
}
.Card-section .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Card-section .small-cards:hover {
  cursor: pointer;
  transform: translateY(-10px);
}
.Card-section .small-cards img {
  width: 80px;
}
.Card-section .small-cards h3 {
  text-align: center;
  font-size: 15px;
}
.Card-section .small-cards p {
  font-size: 10px;
  text-align: center;
}

.divider {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
  /* border: 2px solid black; */
  padding: 10px 0;
  background-color: aqua;
  color: rgb(112, 34, 6);
  font-weight: bold;
  text-decoration: underline;
  font-size: large;
}
/* .divider::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0px;
  width: 640px;
  height: 2px;
  background-color: lightgray;
}
.divider::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0px;
  width: 640px;
  height: 2px;
  background-color: lightgray;
} */

#main-heading {
  text-align: center;
  margin-bottom: 20px;
}
.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 100px;
}
.main-section .image-container img {
  width: 350px;
  height: 200px;
  margin: auto 50px;
}
.main-section .image-container {
  position: relative;
}
.main-section .image-text {
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 150px;
  left: 70px;
  overflow: hidden;
  opacity: 0;
  color: white;
  background-color: rgba(123, 184, 202, 0.267);
  transition: 0.3s ease-in;
  margin: 0;
}
.main-section .image-text:hover {
  opacity: 1;
  cursor: pointer;
  transform: translateY(-60px);
  color: black;
  font-weight: bold;
}
.footer-section {
  display: flex;
  justify-content: space-around;
  background-color: rgba(228, 228, 23, 0.788);
  padding: 20px 10px;
  gap: 20px;
}
.footer-section .footer-logo {
  display: flex;
  align-items: center;
}
.footer-section .footer-text ul {
  text-align: center;
  margin-top: 10px;
}
.footer-section .footer-text h2 {
  margin: 10px 0;
  text-align: center;
  color: rgb(196, 114, 7);
}
.footer-section .footer-text ul li {
  list-style-type: none;
  color: rgb(16, 49, 49);
  line-height: 50px;
  transition: 0.3s ease-in;
}
.footer-section .footer-text ul li:hover {
  cursor: pointer;
  color: blue;
  font-weight: bold;
  transform: scale(1.4);
}

.mapouter {
  position: relative;
  text-align: right;
  width: 247px;
  height: 226px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 247px;
  height: 226px;
}
.gmap_iframe {
  width: 247px !important;
  height: 226px !important;
}

.footer-end {
  text-align: center;
  background-color: rgba(211, 211, 211, 0.534);
  padding: 5px;
  word-spacing: 2px;
}

@media (max-width: 600px) {
  .logo img {
    margin: auto 0px;
  }
  .bar-icon {
    margin: auto 9px;
  }
  .hero {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .hero .top-image img {
    max-width: 250px;
  }
  .Card-section {
    flex-direction: column;
  }
  .Card-section .small-cards {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .Card-section .small-cards:hover {
    margin-top: 10px;
  }
  .main-section {
    /* display: grid;
    grid-template-columns: repeat(2, auto); */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-section .image-container img {
    width: 200px;
  }
  .main-section .image-text {
    width: 150px;
    height: 100px;
  }
  .footer-section {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-end {
    flex-wrap: wrap;
  }
}
